<p id="notice"><%= notice %></p>

<section class='full-note'>
<h2><%= @note.fullName %></h2>

<p>
  <%= simple_format @note.content %>
</p>
</section>

<p><%= link_to 'Edit', edit_note_path(@note) %> | <a href="/people/<%= @note.person_id %>">Back</a></p>
