<section class='full-note'>
  <p id="notice"><%= notice %></p>
  <h2><%= @note.fullName %> <br /><span>Created <%= @note.created_at.to_s(:pretty) %></span></h2>
  <%= simple_format @note.content %>
  <p><a href="<%= edit_note_path(@note) %>"><span class='icon-pencil'></span> Edit</a> | <a href="/people/<%= @note.person_id %>">Back</a></p>
</section>

