<p id="notice"><%= notice %></p>

<section class='twelve columns person detail-card'>
<h2><%= @note.name %></h2>

<p>
  <b>Content:</b>
  <%= @note.content %>
</p>
</section>

<p><%= link_to 'Edit', edit_note_path(@note) %> | <a href="/people/<%= @note.person_id %>">Back</a></p>
