<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <section class='six columns'>
      <%= f.label "First Name" %>
      <%= f.text_field :first_name, :placeholder => 'John' %>
      <%= f.label "Middle Name" %>
      <%= f.text_field :middle_name, :placeholder => 'Q' %>
      <%= f.label "Last Name" %>
      <%= f.text_field :last_name, :placeholder => 'Nixon' %>
    </section>
    <section class='six columns'>
      <%= f.label "Born" %>
      <%= f.date_select :dob, :start_year => Time.now.year - 400, :end_year => Time.now.year %>
      <br />
      <%= f.label "Died" %>
      <%= f.date_select :dod %>
    </section>
  </div>
  <section class="twelve columns actions">
    <%= f.submit %>
    <%= link_to 'Cancel', @person %>
  </section>
<% end %>
