<section class='twelve columns index'>
  <article>
  <table>
    <tr>
      <th>Name</th>
      <th>Born</th>
      <th>From</th>
      <th>Died</th>
      <th>Age</th>
    </tr>

    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.fullName, person %></td>
        <td><%= person.dateBorn %></td>
        <td><%= person.birthplace %></td>
        <td><%= person.dateDied%></td>
        <td><%= person.ageDied %></td>
      </tr>
    <% end %>
  </table>
  </article>
  <%= will_paginate @posts %>
</section>
