<p id="notice"><%= notice %></p>

<div class='content'>
<div class='wrap'>
  <div class='main-bio tile'>
    <p class='parents'>
    <% @person.listParents.each do |parent| %>
      <%= link_to(parent) do %>
        <span><%= parent.fullName %></span>
      <% end %>
    <% end %>
    </p>
    <h1><%= @person.fullName %> <%= link_to '(Edit)', edit_person_path(@person), :class => 'edit-person' %></h1>
    <p><%= @person.bornOnWithLocation %></p>
    <p><% @person.listSpouses.each do |spouse| %>
      Married to <%= link_to spouse.fullName, spouse %>
    <% end %></p>
    <p><%= @person.diedOnAtAge %></p>
    <p class='children'>
    <% @person.listChildren.each do |child| %>
      <%= link_to(child) do %>
        <span><%= child.fullName %></span>
      <% end %>
    <% end %></p>
  </div>

  <div class='siblings tile'>
    <h3>Siblings</h3>
    <% @person.listSiblings.each do |sibling| %>
      <%= link_to(sibling) do %>
        <p><%= sibling.fullName %></p>
      <% end %>
    <% end %>
    <p><a class='subtle' href="<%= new_person_path %>">+ Add a Sibling</a></p>
  </div>
</div>

<div class='tile half photos'>
  <h3>Photos</h3>
  <% if @person.photo.present? %>
    <%= image_tag @person.photo.url %>
  <% end %>
  <p><a class='subtle' href='#'>+ Add a Photo</a></p>
</div>


<div class='tile half notes'>
  <h3>Notes</h3>
  <ul class='notes'>
    <% @person.notes.each do |note| %>
      <li><%= simple_format truncate(note.content, :length => 300) %> <%= link_to "(read more)", note, :class => 'sub-link' %></li>
    <% end %>
  </ul>
  <p><%= link_to "+ Add a Note", new_note_path(:id => @person.id), class: "subtle" %></p>
</div>
</div>
