<% ages = [] %>
<% yearBorn = [] %>
<% uniqueNames = [] %>

<% @person.each do |person| %>
  <% if person.ageDied.to_f > 0 %>
    <% ages << person.ageDied.to_f %>
  <% end %>
  <% yearBorn << person.dob.to_s %>

  <% uniqueNames << person.last_name %>
<% end %>

<% oldest = yearBorn.min %>

<% average = (ages.sum / ages.count).floor %>



<ul class='home-half-links'>
  <li><a href="/tree"><img src="<%= image_path('tree-white.svg'); %>" /><span>Lineage Chart</span></a></li>
  <li><a href="/people"><img src="<%= image_path('list.svg'); %>" /><span>Index</span></a></li>
  <li><a href="/people/new"><img src="<%= image_path('new-person.svg'); %>" /><span>Add Person</span></a></li>
</ul>


<div class='search'>
  <form>
  <input type='search'></input>
  <input type='submit' value='Search'></input>
</form>
</div>

<ul class='stats'>
  <li><%= Person.count %><span>People</span></li>
  <li><%= Person.count(:conditions => 'sex = "M"') %><span>Males</span></li>
  <li><%= Person.count(:conditions => 'sex = "F"') %><span>Females</span></li>
  <li><%= uniqueNames.uniq.count %><span>Last Names</span></li>
  <li><%= average %><span>Average Age</span></li>
  <li><%= ages.min.floor %><span>Youngest</span></li>
  <li><%= ages.max.floor %><span>Oldest</span></li>
</ul>
