<!DOCTYPE html>
<html>
<head>
  <title>Family</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/ghd6xqf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div>
      <h1><a href="/"><img src="<%= image_path "family-white.svg" %>"></a></h1>
      <nav>
      <a href="/people/1">Me</a>
      <a href="/tree">Tree</a>
      <a href="/people">List</a>
      <a href="/photos">Photos</a>
      <a href="/login">Logout</a>
      </nav>
    </div>
  </header>

  <div id="content" class='animated fadeIn'>
    <%= yield %>
  </div>
</body>
</html>
