<!DOCTYPE html>
<html>
<head>
  <title>Family</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div>
      <h1><a href="/"><img src="<%= image_path "family.svg" %>"></a></h1>
      <nav>
      <a href="#">Tree</a>
      <a href="/">List</a>
      <a href="/">Logout</a>
      </nav>
    </div>
  </header>

  <div class='content'>
    <%= yield %>
  </div>
</body>
</html>
